{{#simple-form as |formValues|}}
  {{input value=formValues.username placeholder="Username"}}
  {{input type="password" value=formValues.username placeholder="Password"}}

  <button>Submit</button>
{{/simple-form}}

{{outlet}}
