<li class="menu-item__name">{{menuItem.name}}</li>
<li class="menu-item__description">{{menuItem.description}}</li>
<li class="menu-item__price">{{menuItem.price}}</li>
{{mdl-button isRaised=true text='Add to Cart' class="add-cart"}}
