{{#simple-form as |newItem|}}
  {{input class="new-item__name" value=newItem.name placeholder="Name"}}
  {{input class="new-item__description" value=newItem.description placeholder="Description"}}
  {{input class="new-item__price" value=newItem.price placeholder="Price"}}
  {{input class="new-item__category" value=newItem.category placeholder="Category"}}


  <button class="new-item__submit">Submit</button>
{{/simple-form}}
