{{#mdl-nav title="JG's NYC PIZZA" scrollHeader=true}}
  {{mdl-nav-item name='Menu'   route='menu'}}
  <div class="mdl-grid">
  	<div class="mdl-cell mdl-cell--12-col">
    {{outlet}}
	</div>
  </div>
{{/mdl-nav}}
